/* Global */
* {
    font-family: 'Roboto';
}

/* Flexbox 4 main contents */
.flex-container, .one {
    display: flex;
    flex-direction: column;
}

.header, .inline, .hero, .image-container, .four {
    display: flex;
}

.header, .hero, footer {
    background-color: #1F2937;
}

/* Main content one */
.logo-text {
    font-size: 24px;
    color: #F9FAF8;
}

.main {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.inline {
    font-size: 18px;
    color: #E5E7EB;
}

/* Main content two  */
.info {
    font-size: 36px;
    color: #1F2937;
    font-weight: 900;
}

/* Main content three */
.three {
    background-color: #E5E7EB;
    color: #1F2937;
}

.quote {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
}

/* Main content four */
.button, .four {
    background-color: #3882F6;
}

/* Footer */